*{
    margin: 0px;
}

@font-face { 
    font-family: "MullerLight";
    src: url("../fonts/MullerLight.eot");
    src: url("../fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100
}

body{
    max-width: 1170px;
    margin:0 auto;
    background: #F1F1F1;
}

label{
    cursor: pointer;
}

button:hover{
    background: #CC9933;
    color: #FFFFFF;
}

button:active{
    background: #A47312;
    color: #FFFFFF;
}

.tel{
    font-family: MullerLight;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    display: block;
    text-decoration: none;
    margin: 0px 500px 0px 20px;
    min-width: max-content;
}

.tel:hover{
    color: #CC9933;
}

.tel:focus{
    color: #CC9933;
    border: 1px solid #CC9933;
}

.tel:active{
    color: #A47312;
}

.logo{
    max-width: 100%;
    max-height: 100%;
}

.header-container{
    min-height: 54px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.link{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    text-decoration: none;
}

.link:active{
    color: #FFFFFF;
}

.parlor{
    min-width: max-content;
    background-image: url(../img/Vector.svg);
    padding-left: 28px;
    background-repeat: no-repeat;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    text-decoration: none;
}

.parlor:hover{
    color: #E9C479;
}

.parlor:focus{
    border: solid 1px #CC9933;;
}

.parlor:active{
    color: #A47312;
}

.nav{
    min-height: 70px;
    min-width: 1170px;
    background: white;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rectangel{
    background: #E1E1E1;
    height: 50px;
    width: 1px;
}

.links{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    text-decoration: none;
}

.links:hover{
    color: #CC9933;
}

.links:focus{
    color: #CC9933;
    border: 1px solid #CC9933;
}

.links:active{
    color: #A47312;
}

.tour{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 107px;
    min-height: 42px;
    border: 1px solid #CC9933;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933; 
}

.buzzer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 177px;
    min-height: 42px;
    border: 1px solid #CC9933;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933; 
}

.specials{
    margin-top: 70px;
    min-height: 600px;
    max-width: 1170px;
}

.heading{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.maldives{
    max-width: 573px;
    max-height: 258px;
    background-image: url(../img/Rectangle\ 14.png);
    margin-bottom: 23px;
    border-radius: 15px;
}

.maldives:hover{
    background: #2A2836;
    border-radius: 15px;
    transition: 1s
}

.specials-head{
    margin-bottom: 20px;
    padding-left: 40px;
}

.fogging{
    min-width: 573px;
    min-height: 258px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
}

.specials-content{
    min-width: 299px;
    min-height: 178px;
    padding: 40px 234px 40px 40px;
    border-radius: 15px;
}

.specials-heading{
    font-family: MullerLight;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;

}

.specials-price{
    margin: 15px 0px 47px 0px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;  
    color: #FFFFFF;
    opacity: 0.8;
}

.specials-detail{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFCC66;
    text-decoration: none;
    cursor: pointer;
}

.arrow{
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    transform: rotate(-45deg);
    border-right: 2px solid #FFCC66 ;
    border-bottom: 2px solid #FFCC66;
    cursor: pointer;
}

.detail{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.krit{
    max-width: 573px;
    max-height: 258px;
    background-image: url(../img/Rectangle\ 13.png);
    border-radius: 15px;
}

.krit:hover{
    background: #2A2836;
    border-radius: 15px;
    transition: 1s
}

.deluxe-rooms{
    max-width: 573px;
    max-height: 540px;
    background-image: url(../img/33\ 1.png);
    border-radius: 15px;
}

.deluxe-rooms:hover{
    background: #2A2836;
    border-radius: 15px;
    transition: 1s
}

.deluxe-rooms-content{
    padding: 211px 234px 45px 40px;
    border-radius: 15px;
}

.deluxe-rooms-heading{
    margin: 0px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.deluxe-rooms-price{
    margin: 15px 0px 47px 0px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

.article-specials{
    min-height: 600px;
    max-width: 573px;
}

.special-offer-cards{
    display: flex;
    justify-content: space-between;
}

.about-us{
    max-width: 888px;
    min-height: 231px;
    margin-top: 70px;
}

.about-us-head{
    margin-bottom: 11px;
    padding-left: 40px;
}

.about-us-content{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.services{
    margin-top: 70px;
    max-width: 1170px;
    min-height: 743px;
}

.services-head{
    margin-bottom: 20px;
    padding-left: 40px;
}

.services-container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-cards{
    max-width: 572px;
    min-height: 330px;
    margin-bottom: 23px;
}

.maintenance-img{
    min-height: 165px;
    max-width: 572px;
    background-image: url(../img/10.jpg);
    border-radius: 15px 15px 0px 0px;
}

.services-cards:hover .maintenance-img{
    background: #2A2836;
    transition: 0.5s
    ;
}

.services-cards:hover .rent-img{
    background: #2A2836;
    transition: 0.5s
    ;
}

.services-cards:hover .recreation-img{
    background: #2A2836;
    transition: 0.5s
    ;
}

.services-cards:hover .car-parks-img{
    background: #2A2836;
    transition: 0.5s
    ;
}

.rent-img{
    min-height: 165px;
    max-width: 572px;
    background-image: url(../img/15.jpg);
    border-radius: 15px 15px 0px 0px;
}

.recreation-img{
    min-height: 165px;
    max-width: 572px;
    background-image: url(../img/12.jpg);
    border-radius: 15px 15px 0px 0px;
}

.car-parks-img{
    min-height: 165px;
    max-width: 572px;
    background-image: url(../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg);
    border-radius: 15px 15px 0px 0px;
}

.services-container{
    min-height: 165px;
    max-width: 572px;
    border-radius: 0px 0px 15px 15px ;
    background: white;
}

.services-content{
    min-height: 89px;
    max-width: 402px;
    padding: 26px 126px 50px 45px;
}

.services-detail{
    display: flex;
    align-items: center;
    font-family: MullerLight;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
}

.content{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.services-detail:hover{
    color: #E9C479;
}

.services-detail:active{
    color: #A47312;
}

.services-arrow{
    width: 11px;
    height: 11px;
    box-sizing: border-box;
    transform: rotate(-45deg);
    border-right: 2px solid #CC9933 ;
    border-bottom: 2px solid #CC9933;
    cursor: pointer;
}

.services-detail:hover .services-arrow{
    border-right: 2px solid #E9C479;
    border-bottom: 2px solid #E9C479;
}


.advantages{
    margin-top: 70px;
    max-width: 1170px;
    min-height: 643px;
}

.advantages-head{
    margin-bottom: 30px;
    padding-left: 40px;
}

.advantages-container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-cards{
    position: relative;
    max-width: 275px;
    min-height: 275px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 23px;
}

.icon{
    position: absolute;
    left: 45px;
    top: 40px;
}

.advantages-content{
    padding: 116px 42px 41px 45px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.accommodation{
    margin-top: 70px;
    max-width: 1170px;
    min-height: 1436px;
}

.accommodation-head{
    margin-bottom: 30px;
    padding-left: 40px;
}

.accommodation-container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accommodation-cards{
    min-width: 373px;
    min-height: 440px;
    margin-bottom: 23px;
}

.accommodation-img{
    min-width: 373px;
    min-height: 217px;
    border-radius: 15px 15px 0px 0px;
}

.española{
    background: url(../img/23.jpg);
}

.típicas{
    background: url(../img/24.jpg);
}

.guerra{
    background: url(../img/26.jpg);
}

.piadosa{
    background: url(../img/29-1.jpg);
}

.creatividad{
    background: url(../img/30.jpg);
}

.retorno{
    background: url(../img/31.jpg);
}

.piadosa-2{
    background: url(../img/27.jpg);
}

.siempre{
    background: url(../img/29.jpg);
}

.detail-img{
    min-width: 373px;
    min-height: 440px;
    background: url(../img/41.jpg);
    border-radius: 15px;
}

.detail-img-content{
    display: flex;
    align-items: center;
    padding: 373px 54px 27px 54px;
}

.detail-img-arrow{
    border-right: 2px solid #FFFFFF ;
    border-bottom: 2px solid #FFFFFF;
}

.accommodation-container{
    max-width: 373px;
    min-height: 223px;
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}

.accommodation-price{
    padding: 36px 184px 16px 45px;
}

.star{
    position: absolute;
    top: 39px;
    right: 46px;
}

.text-1{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.text-2{
    font-family: MullerLight;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 20px;
}

.text-3{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.star-on{
    background-image: url(../img/star.svg);
    max-width: 14px;
    max-height: 14px;
    position: absolute;
    right: 126px;
    top: 38px;
}

.accommodation-title{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding: 0px 138px 16px 45px;
}

.accommodation-location{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
    padding: 0px 138px 20px 45px;
}

.room{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    margin: 0px 229px 41px 45px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    cursor: pointer;
}

.options{
    font-family: MullerLight;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
}

.i-want-a-tour{
    max-width: 1170px;
    min-height: 274px;
    background: #E9E9E9;
    border-radius: 15px;
    margin-top: 70px;
}

.i-want-a-tour-head{
    padding: 38px 0px 19px 40px;
}

.i-want-a-tour-container{
    max-width: 1080px;
    min-height: 106px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.elements-input{
    display: flex;
    flex-direction: column;
}

.input-number{
    max-width: 75px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    border-top: none;
    border-right: none;
    border-bottom: solid #CCCCCC 1px ;
    border-left: none;
    cursor: pointer;
}

.button-find{
    display: flex;
    align-items: center;
    padding: 13px 30px;
    max-width: 108px;
    max-height: 42px;
    border: 1px solid #CC9933;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background: none;
}

.prompt{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

input{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    border: none;
    cursor: pointer;
}

select{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.contacts{
    max-width: 1170px;
    min-height: 684px;
    margin-top: 70px;
}

.contacts-head{
    margin-bottom: 26px;
}

.contacts-container{
    max-width: 1168px;
    min-height: 618px; 
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contacts-content{
    max-width: 375px;
    min-height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-img{
    max-width: 653px;
    min-height: 528px;
    border-radius: 10px;
}

.line-x{
    max-width: 375px;
    height: 1px;
    background: #C4C4C4;
}

.footer-head {
    font-family: MullerLight;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.address-content{
    max-width: 229px;
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.content-box{
    display: flex;
    flex-direction: row;
}

.tel-box{
    display: flex;
    flex-direction: column;
}

.address-head{
    margin-right: 83px;
}

.tel-head{
    margin-right: 47px;
}

.mail-head{
    margin-right: 84px;
}

.schedule-head{
    margin-right: 74px;
}

.schedule-detail{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.tel-content{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
    text-decoration: none;
    display: block;
    width: max-content;
}

.tel-content:hover{
    color: #CC9933;
}

.tel-content:focus{
    color: #CC9933;
    border: 1px solid #CC9933;
}

.tel-content:active{
    color: #A47312;
}

.mail-box{
    display: flex;
    flex-direction: column;
}

.mail-content{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
    text-decoration: none;
    display: block;
    width:min-content;
}

.mail-content:hover{
    color: #E9C479;
}

.mail-content:focus{
    border: solid 1px #CC9933;;
}

.mail-content:active{
    color: #A47312;
}

.mail-detail{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}

.route{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MullerLight;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    max-width: 213px;
    min-height: 70px;
    background: #FFFFFF;
    border: 1px solid #CC9933;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: 20px 0px;
    max-width: 1170px;
    min-height: 341px;
    background: #333333;
    border-radius: 15px;
}

.footer-img{
    position: absolute;
    top: 113px;
    right: 175px;
}

.box-social-network{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25px;
    min-height: 205px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 320px;
    min-height: 251px;
    z-index: 1;
}

.footer-content{
    font-family: MullerLight;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.footer-flex{
    display: flex;
    height: 150px;
    align-self:baseline;
    margin-top: 46px;
    justify-content: space-between;
    flex-basis: 44%;
}

.social-network-twitter:hover{
    cursor: pointer;
}